@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password ?";
}
<!--
<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>
-->
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="logInForm" method="post">
				<br/>
				<h4><strong class="text-primary">@ViewData["Title"]</strong></h4>
				<div asp-validation-summary="ModelOnly" class="text-warning text-error"></div>
				<div class="logInForm__field">
					<i class="logInForm__icon fas fa-user"></i>
					<input type="text" class="form__input form__inputEmail" asp-for="Input.Email" aria-required="true" placeholder=" Enter your email.">
				              <br/>  <span asp-validation-for="Input.Email" class="text-warning text-error"></span>
				</div>
				<br /><br />
				<button class="button form__submit" id="login-submit" type="submit">
					<span class="button__text" >Reset Password</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>	              
			</form>
		</div>
		<div class="screen__background">
			
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
