html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.container {
    display: flex;
    justify-content: center;
}

.screen {
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #5C5696;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #6C63AC;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #7E7BB9;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.logInForm {
    width: 320px;
    padding: 30px;
    padding-top: 116px;
}
.registerForm {
    width: 320px;
    padding: 30px;
}

.logInForm__field {
    padding: 20px 0px;
    position: relative;
}
.registerForm__field {
    padding: 8px 0px;
    position: relative;
}

.logInForm__icon {
    position: absolute;
    top: 32px;
    color: #7875B5;
}
.registerForm__icon {
    position: absolute;
    top: 20px;
    color: #7875B5;
}

.form__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}
.form__inputEmail {
    width:95%;
    font-size:13px;
}

    .form__input:active,
    .form__input:focus,
    .form__input:hover {
        outline: none;
        border-bottom-color: #6A679E;
    }

.form__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 65px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

    .form__submit:active,
    .form__submit:focus,
    .form__submit:hover {
        border-color: #6A679E;
        outline: none;
    }

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.social-form {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: -20px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-form__icon {
    color: #fff;
    text-shadow: 0px 0px 8px #7875B5;
    border: none;
    background-color: #7e7bb9;
}

    .social-form__icon:hover {
        transform: scale(1.5);
    }
.text-error{
    font-size:13px;font-weight:bold;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
    background: #eaeef6;
    font-family: "Open Sans", sans-serif;
}

.navbar {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: #fff;
    border-radius: 10px;
    padding: 1rem 0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
    height: calc(100vh - 4rem);
}

.navbar__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 5.5rem;
    color: #6a778e;
    transition: 250ms ease all;
    margin-left:-41px;
}

    .navbar__link span {
        position: absolute;
        left: 100%;
        transform: translate(-3rem);
        margin-left: 1rem;
        opacity: 0;
        pointer-events: none;
        color: #406ff3;
        background: #fff;
        padding: 0.75rem;
        transition: 250ms ease all;
        border-radius: 17.5px;

    }

    .navbar__link:hover {
        color: #fff;
    }

        .navbar:not(:hover) .navbar__link:focus span, .navbar__link:hover span {
            opacity: 1;
            transform: translate(0);
        }

.navbar__menu {
    position: relative;
}
.navbar__item {
    list-style: none;
}
.navbar__item:last-child:before {
    content: "";
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    background: #406ff3;
    border-radius: 17.5px;
    transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
    margin-left: -10px;
}

.navbar__item:first-child:nth-last-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(1) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(1):last-child:hover:before, .navbar__item:first-child:nth-last-child(1) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(1):last-child:hover:before, .navbar__item:first-child:nth-last-child(1) ~ li:last-child:hover:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(2):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(2) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(2):last-child:hover:before, .navbar__item:first-child:nth-last-child(2) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(2):nth-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(2) ~ li:nth-child(1):hover ~ li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(2):last-child:hover:before, .navbar__item:first-child:nth-last-child(2) ~ li:last-child:hover:before {
    top: 50%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(3):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(3) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(3):last-child:hover:before, .navbar__item:first-child:nth-last-child(3) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(3):nth-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(3) ~ li:nth-child(1):hover ~ li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(3):nth-child(2):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(3) ~ li:nth-child(2):hover ~ li:last-child:before {
    top: 33.3333333333%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(3):last-child:hover:before, .navbar__item:first-child:nth-last-child(3) ~ li:last-child:hover:before {
    top: 66.6666666667%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(4):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(4) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(4):last-child:hover:before, .navbar__item:first-child:nth-last-child(4) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(4):nth-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(4) ~ li:nth-child(1):hover ~ li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(4):nth-child(2):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(4) ~ li:nth-child(2):hover ~ li:last-child:before {
    top: 25%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(4):nth-child(3):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(4) ~ li:nth-child(3):hover ~ li:last-child:before {
    top: 50%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(4):last-child:hover:before, .navbar__item:first-child:nth-last-child(4) ~ li:last-child:hover:before {
    top: 75%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(5):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(5) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(5):last-child:hover:before, .navbar__item:first-child:nth-last-child(5) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(5):nth-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(5) ~ li:nth-child(1):hover ~ li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(5):nth-child(2):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(5) ~ li:nth-child(2):hover ~ li:last-child:before {
    top: 20%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(5):nth-child(3):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(5) ~ li:nth-child(3):hover ~ li:last-child:before {
    top: 40%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(5):nth-child(4):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(5) ~ li:nth-child(4):hover ~ li:last-child:before {
    top: 60%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(5):last-child:hover:before, .navbar__item:first-child:nth-last-child(5) ~ li:last-child:hover:before {
    top: 80%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(6) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(6):last-child:hover:before, .navbar__item:first-child:nth-last-child(6) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(6):nth-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(6) ~ li:nth-child(1):hover ~ li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):nth-child(2):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(6) ~ li:nth-child(2):hover ~ li:last-child:before {
    top: 16.6666666667%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):nth-child(3):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(6) ~ li:nth-child(3):hover ~ li:last-child:before {
    top: 33.3333333333%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):nth-child(4):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(6) ~ li:nth-child(4):hover ~ li:last-child:before {
    top: 50%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):nth-child(5):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(6) ~ li:nth-child(5):hover ~ li:last-child:before {
    top: 66.6666666667%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(6):last-child:hover:before, .navbar__item:first-child:nth-last-child(6) ~ li:last-child:hover:before {
    top: 83.3333333333%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(7) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(7):last-child:hover:before, .navbar__item:first-child:nth-last-child(7) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(7):nth-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(7) ~ li:nth-child(1):hover ~ li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):nth-child(2):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(7) ~ li:nth-child(2):hover ~ li:last-child:before {
    top: 14.2857142857%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):nth-child(3):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(7) ~ li:nth-child(3):hover ~ li:last-child:before {
    top: 28.5714285714%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):nth-child(4):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(7) ~ li:nth-child(4):hover ~ li:last-child:before {
    top: 42.8571428571%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):nth-child(5):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(7) ~ li:nth-child(5):hover ~ li:last-child:before {
    top: 57.1428571429%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):nth-child(6):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(7) ~ li:nth-child(6):hover ~ li:last-child:before {
    top: 71.4285714286%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(7):last-child:hover:before, .navbar__item:first-child:nth-last-child(7) ~ li:last-child:hover:before {
    top: 85.7142857143%;
    animation: gooeyEffect-7 250ms 1;
}

@keyframes gooeyEffect-7 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(8) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(8):last-child:hover:before, .navbar__item:first-child:nth-last-child(8) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(8):nth-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(8) ~ li:nth-child(1):hover ~ li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(2):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(8) ~ li:nth-child(2):hover ~ li:last-child:before {
    top: 12.5%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(3):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(8) ~ li:nth-child(3):hover ~ li:last-child:before {
    top: 25%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(4):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(8) ~ li:nth-child(4):hover ~ li:last-child:before {
    top: 37.5%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(5):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(8) ~ li:nth-child(5):hover ~ li:last-child:before {
    top: 50%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(6):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(8) ~ li:nth-child(6):hover ~ li:last-child:before {
    top: 62.5%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):nth-child(7):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(8) ~ li:nth-child(7):hover ~ li:last-child:before {
    top: 75%;
    animation: gooeyEffect-7 250ms 1;
}

@keyframes gooeyEffect-7 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(8):last-child:hover:before, .navbar__item:first-child:nth-last-child(8) ~ li:last-child:hover:before {
    top: 87.5%;
    animation: gooeyEffect-8 250ms 1;
}

@keyframes gooeyEffect-8 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(9) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(9):last-child:hover:before, .navbar__item:first-child:nth-last-child(9) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(9):nth-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(9) ~ li:nth-child(1):hover ~ li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(2):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(9) ~ li:nth-child(2):hover ~ li:last-child:before {
    top: 11.1111111111%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(3):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(9) ~ li:nth-child(3):hover ~ li:last-child:before {
    top: 22.2222222222%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(4):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(9) ~ li:nth-child(4):hover ~ li:last-child:before {
    top: 33.3333333333%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(5):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(9) ~ li:nth-child(5):hover ~ li:last-child:before {
    top: 44.4444444444%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(6):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(9) ~ li:nth-child(6):hover ~ li:last-child:before {
    top: 55.5555555556%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(7):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(9) ~ li:nth-child(7):hover ~ li:last-child:before {
    top: 66.6666666667%;
    animation: gooeyEffect-7 250ms 1;
}

@keyframes gooeyEffect-7 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):nth-child(8):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(9) ~ li:nth-child(8):hover ~ li:last-child:before {
    top: 77.7777777778%;
    animation: gooeyEffect-8 250ms 1;
}

@keyframes gooeyEffect-8 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(9):last-child:hover:before, .navbar__item:first-child:nth-last-child(9) ~ li:last-child:hover:before {
    top: 88.8888888889%;
    animation: gooeyEffect-9 250ms 1;
}

@keyframes gooeyEffect-9 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(10) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(10):last-child:hover:before, .navbar__item:first-child:nth-last-child(10) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(10):nth-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(10) ~ li:nth-child(1):hover ~ li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(2):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(10) ~ li:nth-child(2):hover ~ li:last-child:before {
    top: 10%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(3):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(10) ~ li:nth-child(3):hover ~ li:last-child:before {
    top: 20%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(4):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(10) ~ li:nth-child(4):hover ~ li:last-child:before {
    top: 30%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(5):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(10) ~ li:nth-child(5):hover ~ li:last-child:before {
    top: 40%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(6):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(10) ~ li:nth-child(6):hover ~ li:last-child:before {
    top: 50%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(7):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(10) ~ li:nth-child(7):hover ~ li:last-child:before {
    top: 60%;
    animation: gooeyEffect-7 250ms 1;
}

@keyframes gooeyEffect-7 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(8):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(10) ~ li:nth-child(8):hover ~ li:last-child:before {
    top: 70%;
    animation: gooeyEffect-8 250ms 1;
}

@keyframes gooeyEffect-8 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):nth-child(9):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(10) ~ li:nth-child(9):hover ~ li:last-child:before {
    top: 80%;
    animation: gooeyEffect-9 250ms 1;
}

@keyframes gooeyEffect-9 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(10):last-child:hover:before, .navbar__item:first-child:nth-last-child(10) ~ li:last-child:hover:before {
    top: 90%;
    animation: gooeyEffect-10 250ms 1;
}

@keyframes gooeyEffect-10 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:hover ~ li:last-child:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(11):last-child:hover:before, .navbar__item:first-child:nth-last-child(11) ~ li:last-child:hover:before {
    opacity: 1;
}

.navbar__item:first-child:nth-last-child(11):nth-child(1):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:nth-child(1):hover ~ li:last-child:before {
    top: 0%;
    animation: gooeyEffect-1 250ms 1;
}

@keyframes gooeyEffect-1 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(2):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:nth-child(2):hover ~ li:last-child:before {
    top: 9.0909090909%;
    animation: gooeyEffect-2 250ms 1;
}

@keyframes gooeyEffect-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(3):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:nth-child(3):hover ~ li:last-child:before {
    top: 18.1818181818%;
    animation: gooeyEffect-3 250ms 1;
}

@keyframes gooeyEffect-3 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(4):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:nth-child(4):hover ~ li:last-child:before {
    top: 27.2727272727%;
    animation: gooeyEffect-4 250ms 1;
}

@keyframes gooeyEffect-4 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(5):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:nth-child(5):hover ~ li:last-child:before {
    top: 36.3636363636%;
    animation: gooeyEffect-5 250ms 1;
}

@keyframes gooeyEffect-5 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(6):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:nth-child(6):hover ~ li:last-child:before {
    top: 45.4545454545%;
    animation: gooeyEffect-6 250ms 1;
}

@keyframes gooeyEffect-6 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(7):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:nth-child(7):hover ~ li:last-child:before {
    top: 54.5454545455%;
    animation: gooeyEffect-7 250ms 1;
}

@keyframes gooeyEffect-7 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(8):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:nth-child(8):hover ~ li:last-child:before {
    top: 63.6363636364%;
    animation: gooeyEffect-8 250ms 1;
}

@keyframes gooeyEffect-8 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(9):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:nth-child(9):hover ~ li:last-child:before {
    top: 72.7272727273%;
    animation: gooeyEffect-9 250ms 1;
}

@keyframes gooeyEffect-9 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):nth-child(10):hover ~ li:last-child:before, .navbar__item:first-child:nth-last-child(11) ~ li:nth-child(10):hover ~ li:last-child:before {
    top: 81.8181818182%;
    animation: gooeyEffect-10 250ms 1;
}

@keyframes gooeyEffect-10 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

.navbar__item:first-child:nth-last-child(11):last-child:hover:before, .navbar__item:first-child:nth-last-child(11) ~ li:last-child:hover:before {
    top: 90.9090909091%;
    animation: gooeyEffect-11 250ms 1;
}

@keyframes gooeyEffect-11 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}


:root {
    --color-1: #104780;
    --color-2: #2a9a9f;
    --color-3: #f1b211;
    --color-4: #2a9a9f;
    --color-5: #104780;
}

h1 {
    font-family: "Exo", sans-serif;
    font-size: 15vw;
    font-weight: 900;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg, var(--color-1) 19%, transparent 19%,transparent 20%, var(--color-2) 20%, var(--color-2) 39%, transparent 39%,transparent 40%, var(--color-3) 40%,var(--color-3) 59%, transparent 59%,transparent 60%, var(--color-4) 60%, var(--color-4) 79%, transparent 79%, transparent 80%, var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.homePageText {
    padding: 1.5rem;
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4%,var(--color-1) .8%,transparent .8% ), radial-gradient(circle at 5.5% 3%,var(--color-2) .45%,transparent .45% ), radial-gradient(circle at 2.5% 3.5%,var(--color-3) .5%,transparent .5% ), radial-gradient(circle at 4.5% 1.2%,var(--color-4) .25%,transparent .25% ), radial-gradient(circle at 98% 98%,var(--color-1) .8%,transparent .8% ), radial-gradient(circle at 95% 95%,var(--color-2) .45%,transparent .45% ), radial-gradient(circle at 94.5% 97.5%,var(--color-3) .5%,transparent .5% ), radial-gradient(circle at 98.5% 95.5%,var(--color-4) .25%,transparent .25% );
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5.5rem;
    }
}
.rounded-circle{
    width:120px;
}
/* .slideTwo */
.slideTwo {
    width: 20px;
    height: 20px;
    background: #333;
    margin-top: 0px;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

/* end .slideTwo */
.card {
    text-align: center;
    display: inline-block;
    width: 230px;
    height: 300px;
    margin:20px;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../Images/BlueBackground.jpg");
}
h4 {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 22px;
    line-height: 1.7;
    color: #102770;
    transform: translate3d(0, 0, 35px) perspective(100px);
    
}

h6 {
    position: absolute;
    margin-left: -35px;
    margin-top: 5px;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 1.1;
    color: #0c1c00;
    transform: translate3d(0, 0, 30px) perspective(100px);
}

    h6:before {
        position: absolute;
        content: '';
        z-index: -1;
        background: linear-gradient(217deg, #58f6cd, #0cc1f8);
        width: 70px;
        height: 60px;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 6px 20px 0 rgba(16, 39, 112,.3);
        animation: border-transform 6s linear infinite;
    }

@keyframes border-transform {
    0%,100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

 h2 sup {
        font-size: 20px;
    }

 p {
    width: 90%;
    height:50px;
    overflow:hidden;
    margin-top:8px;
    margin-left:5%;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #0c1c00;
    transform: translate3d(0, 0, 30px) perspective(100px);
}

.link {
    position: relative;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    color: #ffeba7;
    background-color: #102770;
    transition: all 200ms linear;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    transform: translate3d(0, 0, 30px) perspective(100px);
    text-decoration: none;
}

    .link:hover {
        color: #0c1c00;
        background-color: #3dabdf;
    }
/* Important styles */
#toggle {
    position: fixed;
    height: 30px;
    margin-left: 25px;
    top: 20px;
    z-index: 1001;
}

.radioInput {
    position: fixed;
    top: -1.5em;
    left: -1.5em;
}

label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
    transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

    label:not(:last-of-type) {
        margin-bottom: 1.5em;
    }

    label span {
        box-shadow: 0 0 0 0.2em currentColor inset, 0 0.2em 0.2em rgba(0, 0, 0, 0.2), 0 0.3em 0.2em rgba(0, 0, 0, 0.2) inset;
        display: inline-block;
        margin-right: 0.5em;
        vertical-align: bottom;
        width: 1.5em;
        height: 1.5em;
        transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 2), box-shadow 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }

    label span,
    .worm__segment:before {
        border-radius: 50%;
    }

.radioInput:checked + label,
.radioInput:checked + label span,
.worm__segment:before {
    color: #255ff4;
}

    .radioInput:checked + label, .radioInput:checked + label span {
        transition-delay: 0.4s;
    }

        .radioInput:checked + label span {
            transform: scale(1.2);
        }

.worm {
    margin-top:-114px;
    margin-left:6px;
}

.worm, .worm__segment {
    position: absolute;
}

.worm__segment {
    top: 0;
    left: 0;
    width: 0.75em;
    height: 0.75em;
    transition: transform 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

    .worm__segment:before {
        animation-duration: 0.4s;
        animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
        background: currentColor;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
    }

    .worm__segment:first-child:before, .worm__segment:last-child:before {
        box-shadow: 0 0 1em 0 currentColor;
    }

    .worm__segment:nth-child(2) {
        transition-delay: 0.004s;
    }

        .worm__segment:nth-child(2):before {
            animation-delay: 0.004s;
        }

    .worm__segment:nth-child(3) {
        transition-delay: 0.008s;
    }

        .worm__segment:nth-child(3):before {
            animation-delay: 0.008s;
        }

    .worm__segment:nth-child(4) {
        transition-delay: 0.012s;
    }

        .worm__segment:nth-child(4):before {
            animation-delay: 0.012s;
        }

    .worm__segment:nth-child(5) {
        transition-delay: 0.016s;
    }

        .worm__segment:nth-child(5):before {
            animation-delay: 0.016s;
        }

    .worm__segment:nth-child(6) {
        transition-delay: 0.02s;
    }

        .worm__segment:nth-child(6):before {
            animation-delay: 0.02s;
        }

    .worm__segment:nth-child(7) {
        transition-delay: 0.024s;
    }

        .worm__segment:nth-child(7):before {
            animation-delay: 0.024s;
        }

    .worm__segment:nth-child(8) {
        transition-delay: 0.028s;
    }

        .worm__segment:nth-child(8):before {
            animation-delay: 0.028s;
        }

    .worm__segment:nth-child(9) {
        transition-delay: 0.032s;
    }

        .worm__segment:nth-child(9):before {
            animation-delay: 0.032s;
        }

    .worm__segment:nth-child(10) {
        transition-delay: 0.036s;
    }

        .worm__segment:nth-child(10):before {
            animation-delay: 0.036s;
        }

    .worm__segment:nth-child(11) {
        transition-delay: 0.04s;
    }

        .worm__segment:nth-child(11):before {
            animation-delay: 0.04s;
        }

    .worm__segment:nth-child(12) {
        transition-delay: 0.044s;
    }

        .worm__segment:nth-child(12):before {
            animation-delay: 0.044s;
        }

    .worm__segment:nth-child(13) {
        transition-delay: 0.048s;
    }

        .worm__segment:nth-child(13):before {
            animation-delay: 0.048s;
        }

    .worm__segment:nth-child(14) {
        transition-delay: 0.052s;
    }

        .worm__segment:nth-child(14):before {
            animation-delay: 0.052s;
        }

    .worm__segment:nth-child(15) {
        transition-delay: 0.056s;
    }

        .worm__segment:nth-child(15):before {
            animation-delay: 0.056s;
        }

    .worm__segment:nth-child(16) {
        transition-delay: 0.06s;
    }

        .worm__segment:nth-child(16):before {
            animation-delay: 0.06s;
        }

    .worm__segment:nth-child(17) {
        transition-delay: 0.064s;
    }

        .worm__segment:nth-child(17):before {
            animation-delay: 0.064s;
        }

    .worm__segment:nth-child(18) {
        transition-delay: 0.068s;
    }

        .worm__segment:nth-child(18):before {
            animation-delay: 0.068s;
        }

    .worm__segment:nth-child(19) {
        transition-delay: 0.072s;
    }

        .worm__segment:nth-child(19):before {
            animation-delay: 0.072s;
        }

    .worm__segment:nth-child(20) {
        transition-delay: 0.076s;
    }

        .worm__segment:nth-child(20):before {
            animation-delay: 0.076s;
        }

    .worm__segment:nth-child(21) {
        transition-delay: 0.08s;
    }

        .worm__segment:nth-child(21):before {
            animation-delay: 0.08s;
        }

    .worm__segment:nth-child(22) {
        transition-delay: 0.084s;
    }

        .worm__segment:nth-child(22):before {
            animation-delay: 0.084s;
        }

    .worm__segment:nth-child(23) {
        transition-delay: 0.088s;
    }

        .worm__segment:nth-child(23):before {
            animation-delay: 0.088s;
        }

    .worm__segment:nth-child(24) {
        transition-delay: 0.092s;
    }

        .worm__segment:nth-child(24):before {
            animation-delay: 0.092s;
        }

    .worm__segment:nth-child(25) {
        transition-delay: 0.096s;
    }

        .worm__segment:nth-child(25):before {
            animation-delay: 0.096s;
        }

    .worm__segment:nth-child(26) {
        transition-delay: 0.1s;
    }

        .worm__segment:nth-child(26):before {
            animation-delay: 0.1s;
        }

    .worm__segment:nth-child(27) {
        transition-delay: 0.104s;
    }

        .worm__segment:nth-child(27):before {
            animation-delay: 0.104s;
        }

    .worm__segment:nth-child(28) {
        transition-delay: 0.108s;
    }

        .worm__segment:nth-child(28):before {
            animation-delay: 0.108s;
        }

    .worm__segment:nth-child(29) {
        transition-delay: 0.112s;
    }

        .worm__segment:nth-child(29):before {
            animation-delay: 0.112s;
        }

    .worm__segment:nth-child(30) {
        transition-delay: 0.116s;
    }

        .worm__segment:nth-child(30):before {
            animation-delay: 0.116s;
        }

/* States */
.radioInput:nth-of-type(1):checked ~ .worm .worm__segment:before {
    animation-name: hop1;
}

@keyframes hop1 {
    from, to {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-1.5em);
    }
}

.radioInput:nth-of-type(2):checked ~ .worm .worm__segment {
    transform: translateY(3em);
}

    .radioInput:nth-of-type(2):checked ~ .worm .worm__segment:before {
        animation-name: hop2;
    }

@keyframes hop2 {
    from, to {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-1.5em);
    }
}

.radioInput:nth-of-type(3):checked ~ .worm .worm__segment {
    transform: translateY(6em);
}

    .radioInput:nth-of-type(3):checked ~ .worm .worm__segment:before {
        animation-name: hop3;
    }

@keyframes hop3 {
    from, to {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-1.5em);
    }
}
/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
    body {
        background: #17181c;
        color: #e3e4e8;
    }

    .radioInput:checked + label,
    .radioInput:checked + label span,
    .worm__segment:before {
        color: #5583f6;
    }
}